/*
  Simple row
  Project Page - http://thisisdallas.github.com/Simple-row/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/
[class*='row'],
[class*='col-'],
[class*='mobile-'],
.row:after {
  box-sizing: border-box; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 10px;
  /* column-space */ }

[class*='col-'] [class*='col-']:last-child {
  padding-right: 0; }

.row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.row-pad {
  padding-top: 20px;
  padding-left: 0px;
  /* row-space to left */
  padding-right: 0;
  /* row-space to right: (row-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3, .push-8-12 {
  margin-left: 66.66%; }

.push-1-2, .push-6-12 {
  margin-left: 50%; }

.push-1-3, .push-4-12 {
  margin-left: 33.33%; }

.push-1-4, .push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6, .push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

@media handheld, only screen and (max-width: 767px) {
  .row {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    /* row-space to left */
    padding-right: 0;
    /* row-space to right: (row-space-left - column-space) e.g. 20px-10px=10px */
    margin-top: 0 !important; }

  [class*='col-'] {
    width: auto;
    float: none;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */ }

  [class*='col-'] [class*='col-'] {
    padding-right: 0; }

  /* Mobile Layout */
  [class*='mobile-col-'] {
    float: left;
    margin: 0 0 0px;
    padding-left: 0;
    padding-right: 10px;
    /* column-space */
    padding-bottom: 0; }

  .mobile-col-1-1 {
    width: 100%; }

  .mobile-col-2-3, .mobile-col-8-12 {
    width: 66.66%; }

  .mobile-col-1-2, .mobile-col-6-12 {
    width: 50%; }

  .mobile-col-1-3, .mobile-col-4-12 {
    width: 33.33%; }

  .mobile-col-1-4, .mobile-col-3-12 {
    width: 25%; }

  .mobile-col-1-5 {
    width: 20%; }

  .mobile-col-1-6, .mobile-col-2-12 {
    width: 16.667%; }

  .mobile-col-1-7 {
    width: 14.28%; }

  .mobile-col-1-8 {
    width: 12.5%; }

  .mobile-col-1-9 {
    width: 11.1%; }

  .mobile-col-1-10 {
    width: 10%; }

  .mobile-col-1-11 {
    width: 9.09%; }

  .mobile-col-1-12 {
    width: 8.33%; }

  /* Layout Columns */
  .mobile-col-11-12 {
    width: 91.66%; }

  .mobile-col-10-12 {
    width: 83.333%; }

  .mobile-col-9-12 {
    width: 75%; }

  .mobile-col-5-12 {
    width: 41.66%; }

  .mobile-col-7-12 {
    width: 58.33%; }

  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0; } }
/* ==========================================================================
   Colors variables
   ========================================================================== */
/* ==========================================================================
   Functions
   ========================================================================== */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* ==========================================================================
   Typography
   ========================================================================== */
body {
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  font-size: 14px; }

p {
  margin: 0 0 10px;
  line-height: 21px;
  font-weight: 500; }

p.groete {
  font-size: 25px;
  line-height: 28px; }

.title {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 30px; }

.sub {
  font-size: 15px;
  color: #70b9d3;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0; }

.bold, strong {
  font-weight: 700; }

h3 {
  color: #70b9d3; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* webkit, opera, IE9 */
/* mozilla firefox */
.hidden {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

*:focus {
  outline: 0 !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; }

a {
  text-decoration: none;
  color: #70b9d3; }

.container {
  margin: 0 auto;
  max-width: 1000px; }

.inactive {
  pointer-events: none;
  cursor: default; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
  background-color: #ffffff;
  color: #70b9d3;
  font-weight: 500;
  text-transform: initial;
  padding: 13px 4%;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #ffffff; }
  .button:hover {
    background-color: #70b9d3;
    color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .button.arrowin:after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    margin-left: 0.75em;
    border-width: 0.3em 0 0.3em 0.5em;
    border-color: transparent transparent transparent #70b9d3;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .button.arrowin:hover:after {
    border-color: transparent transparent transparent #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.btngrey {
  color: #616161; }
  .btngrey:hover {
    background-color: #dedede;
    color: #616161;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .btngrey.arrowin:after {
    border-color: transparent transparent transparent #616161; }
  .btngrey.arrowin:hover:after {
    border-color: transparent transparent transparent #616161;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.btngreen {
  color: #616161; }
  .btngreen:hover {
    background-color: #a3bf2a;
    color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .btngreen.arrowin:after {
    border-color: transparent transparent transparent #616161; }
  .btngreen.arrowin:hover:after {
    border-color: transparent transparent transparent #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.btnarticle {
  background-color: #ececec; }

.btnsvg {
  height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #616161;
  text-transform: uppercase; }
  .btnsvg:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #70b9d3;
    color: #ffffff; }
    .btnsvg:hover .iconlinks.icnblue {
      fill: #ffffff; }
  .btnsvg:not(:first-of-type) {
    margin-top: 10px; }
  .btnsvg .iconlinks {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .btnsvg .iconlinks.icnblue {
      fill: #70b9d3; }

.btnsvg.greenpastelbackground .iconlinks.icngreen {
  fill: #a3bf2a; }
.btnsvg.greenpastelbackground:hover {
  background-color: #a3bf2a; }
  .btnsvg.greenpastelbackground:hover .iconlinks.icngreen {
    fill: #ffffff; }

.btnsvg.greybackground .iconlinks.icngrey {
  fill: #616161; }
.btnsvg.greybackground:hover {
  background-color: #dedede; }
  .btnsvg.greybackground:hover .iconlinks.icngrey {
    fill: #ffffff; }

.button.forarticle {
  background-color: #70b9d3;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .button.forarticle:hover {
    background-color: #4595b1;
    border: 2px solid #ffffff;
    color: #ffffff; }
  .button.forarticle:after {
    border-color: transparent transparent transparent #ffffff; }

/* ==========================================================================
   Backgrounds
   ========================================================================== */
.greybackground {
  background-color: #f4f4f4;
  color: #616161; }

.bluepastelbackground {
  background-color: #d4eaf2;
  color: #70b9d3; }

.greenpastelbackground {
  background-color: #d7e28f;
  color: #848484; }

.greenbackground {
  background-color: #a3bf2a;
  color: #ffffff; }

.bluebackground {
  background-color: #70b9d3;
  color: #ffffff; }

/* ==========================================================================
   Header
   ========================================================================== */
header {
  width: 100%;
  z-index: 100;
  margin-top: 30px;
  position: relative; }
  header img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  header nav {
    background-color: #ececec;
    width: 100%;
    height: 42px; }
    header nav .menu {
      float: right; }
      header nav .menu a {
        display: block;
        height: 42px;
        text-align: center;
        line-height: 42px;
        color: #000000;
        background: #ececec;
        text-decoration: none;
        position: relative;
        text-transform: uppercase; }
      header nav .menu li {
        float: left;
        width: 130px;
        background-color: #70b9d3;
        cursor: pointer !important; }
        header nav .menu li:hover ul {
          left: auto;
          background-position: 0 0;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
        header nav .menu li:hover a.dropdown {
          background: #dedede; }
        header nav .menu li:hover a.dropdown:after {
          content: '';
          border: dashed transparent;
          border-top: solid #dedede;
          border-width: 10px 10px 0;
          margin-left: -10px;
          position: absolute;
          bottom: -10px;
          left: 50%;
          z-index: 10; }
        header nav .menu li a.drpactive, header nav .menu li a:hover {
          background: #dedede; }
      header nav .menu ul {
        position: absolute;
        width: 140px;
        left: -1000px; }
        header nav .menu ul li {
          cursor: pointer !important; }
          header nav .menu ul li a {
            margin: 0 10px;
            color: #ffffff;
            background-color: #70b9d3;
            text-transform: initial;
            cursor: pointer !important;
            -webkit-transition: 0.3s;
            transition: 0.3s; }
            header nav .menu ul li a:hover {
              color: #000000;
              background-color: #ffffff;
              -webkit-transition: 0.3s;
              transition: 0.3s; }
          header nav .menu ul li:first-of-type a {
            margin-top: 5px; }
          header nav .menu ul li:last-of-type a {
            margin-bottom: 5px; }
    header nav .menu, header nav .menu ul {
      padding: 0 0 0 0;
      margin: 0;
      list-style: none; }
    header nav ul li a:hover + .hidden, header nav .hidden:hover {
      display: block;
      -webkit-animation: fadeIn 0.5s;
      animation: fadeIn 0.5s; }

.navin {
  position: relative; }
  .navin:hover .navinest {
    display: block;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s; }
  .navin:hover:after {
    content: '';
    border: dashed transparent;
    border-top: solid #ffffff;
    border-width: 10px 10px 0;
    position: absolute;
    right: -12px;
    top: 43%;
    z-index: 10;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.navinest {
  position: absolute !important;
  left: 130px !important;
  top: 0 !important;
  display: none; }
  .navinest li {
    width: 150px !important;
    background-color: #4595b1 !important;
    cursor: pointer !important; }
    .navinest li a {
      background-color: #4595b1 !important; }
      .navinest li a:hover {
        background-color: #ffffff !important; }

/* ==========================================================================
   Sections
   ========================================================================== */
.flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.row {
  margin-top: 10px; }

.row .groete {
  margin: 0 0 30px;
  text-transform: uppercase; }
.row.first-child {
  margin-left: 0px; }

.widget {
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }
  .widget .groete {
    width: 58%;
    text-align: center; }
  .widget.flip:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 20px 20px 0 0;
    border-style: solid;
    /* Firefox 3.0 damage limitation */
    display: block;
    width: 0; }
  .widget.flip.bluebackground:before {
    border-top-color: #4595b1;
    border-right-color: #ffffff; }
  .widget.flip.greybackground:before {
    border-top-color: #cecece;
    border-right-color: #ffffff; }
  .widget.flip.greenbackground:before {
    border-top-color: #809914;
    border-right-color: #ffffff; }
  .widget.tohide {
    display: none; }

#wallpaper .row {
  margin-top: 0; }

#accordion h3 {
  margin-top: 0px; }

#welcomeclicksearch .row .col-4-12 .row:first-child {
  margin-top: 0px; }
#welcomeclicksearch .searchboxout {
  padding-right: 0px; }
  #welcomeclicksearch .searchboxout .searchbox {
    background-color: #dedede;
    float: left;
    height: 132.5px; }
    #welcomeclicksearch .searchboxout .searchbox .inputgroup {
      margin: 30px;
      position: relative; }
      #welcomeclicksearch .searchboxout .searchbox .inputgroup label {
        text-transform: uppercase; }
      #welcomeclicksearch .searchboxout .searchbox .inputgroup input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        -border-radius: 0;
        background-color: #ffffff;
        border: none;
        padding: 4%;
        position: relative;
        width: 91%;
        margin-top: 10px;
        text-transform: initial;
        -webkit-transition: .3s all ease-out;
        transition: .3s all ease-out; }
        #welcomeclicksearch .searchboxout .searchbox .inputgroup input.search-field {
          width: 80%; }
        #welcomeclicksearch .searchboxout .searchbox .inputgroup input.search-submit {
          background: url("./img/evenaar_search.svg") no-repeat center;
          background-size: 22px;
          position: absolute;
          background-color: #d4eaf2;
          width: 18%;
          cursor: pointer; }
#welcomeclicksearch .iconwrapper {
  height: 132.5px; }
  #welcomeclicksearch .iconwrapper .icon {
    position: relative;
    width: 43px;
    height: 43px;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  #welcomeclicksearch .iconwrapper .icontext {
    text-transform: uppercase;
    color: #848484;
    margin: 10px 0 0; }
  #welcomeclicksearch .iconwrapper.bluepastelbackground .icon {
    fill: #70b9d3; }
  #welcomeclicksearch .iconwrapper.bluepastelbackground:hover {
    background-color: #70b9d3;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    #welcomeclicksearch .iconwrapper.bluepastelbackground:hover .icon {
      fill: #ffffff;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    #welcomeclicksearch .iconwrapper.bluepastelbackground:hover .icontext {
      color: #ffffff;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  #welcomeclicksearch .iconwrapper.greenpastelbackground .icon {
    fill: #809914; }
  #welcomeclicksearch .iconwrapper.greenpastelbackground:hover {
    background-color: #a3bf2a;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    #welcomeclicksearch .iconwrapper.greenpastelbackground:hover .icon {
      fill: #ffffff;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    #welcomeclicksearch .iconwrapper.greenpastelbackground:hover .icontext {
      color: #ffffff;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
#welcomeclicksearch .evi {
  background: url("./img/EVI.png") no-repeat right bottom; }
  #welcomeclicksearch .evi .padding {
    margin: 20px 0 12px 40px; }
    #welcomeclicksearch .evi .padding .groete {
      font-size: 19px; }
    #welcomeclicksearch .evi .padding p {
      width: 58%; }

#photosocial .photosocialbg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 195px;
  background-color: #000;
  background-image: url(./img/fotos/image1.jpg);
  /* Default image. */
  -webkit-transition: background-image 1s linear;
  transition: background-image 1s linear; }
#photosocial .photosocialbgcontainer {
  position: relative; }
  #photosocial .photosocialbgcontainer a.photosocialbgbtn {
    position: absolute;
    bottom: 30px;
    right: 30px; }

#breadcrumbs {
  text-transform: uppercase;
  font-size: 10px; }
  #breadcrumbs ul {
    display: inline-block;
    padding-left: 5px; }
    #breadcrumbs ul li {
      display: inline-block;
      margin-right: 6px; }
      #breadcrumbs ul li .breadcrumb-link {
        color: #70b9d3; }
        #breadcrumbs ul li .breadcrumb-link:hover {
          color: #4595b1;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
      #breadcrumbs ul li .breadcrumb-active {
        color: #a3bf2a; }
      #breadcrumbs ul li .breadcrumb-link:after {
        content: '';
        display: inline-block;
        width: 0px;
        height: 0px;
        border-style: solid;
        margin-left: 1.3em;
        margin-bottom: 0.1em;
        border-width: 0.3em 0 0.3em 0.5em;
        border-color: transparent transparent transparent #ececec; }

#main .aside .content {
  background-color: #ececec;
  padding: 40px;
  font-size: 14px;
  line-height: 19px; }
  #main .aside .content p.section {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase; }
  #main .aside .content p.subsection {
    color: #70b9d3;
    text-transform: uppercase;
    font-weight: bold;
    cursor: default;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    #main .aside .content p.subsection:before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 7px;
      margin-bottom: 2px;
      background: #70b9d3;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: -webkit-transform 0.3s linear;
      transition: -webkit-transform 0.3s linear;
      transition: transform 0.3s linear;
      transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
    #main .aside .content p.subsection.open:before {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transition: -webkit-transform 0.3s linear;
      transition: -webkit-transform 0.3s linear;
      transition: transform 0.3s linear;
      transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
    #main .aside .content p.subsection:hover {
      color: #4595b1;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  #main .aside .content ul {
    list-style: none;
    padding-left: 0px; }
    #main .aside .content ul li {
      margin-top: 5px;
      margin-bottom: 5px; }
      #main .aside .content ul li a {
        color: #a3bf2a;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        #main .aside .content ul li a:hover {
          color: #809914;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
      #main .aside .content ul li.active a, #main .aside .content ul li.current_page_item a {
        color: #000000; }
#main .article {
  padding-left: 40px;
  color: #848484;
  position: relative;
  margin-bottom: 80px; }
  #main .article .content .title {
    color: #000000; }
  #main .article .content p {
    line-height: 21px; }
  #main .article .content span.br {
    display: block; }
  #main .article .content .row {
    margin-bottom: 20px; }
    #main .article .content .row .title {
      margin-bottom: 30px; }
  #main .article .content .infobox {
    background-color: #ececec;
    width: 50%;
    float: right;
    position: relative;
    z-index: 30;
    margin-left: 30px;
    margin-bottom: 30px; }
    #main .article .content .infobox .row {
      margin-top: 0; }
      #main .article .content .infobox .row p {
        font-size: 11px;
        line-height: 18px;
        margin: 35px 0 35px 30px; }
      #main .article .content .infobox .row .evitips img {
        position: absolute;
        bottom: 0; }
  #main .article .content .details {
    list-style: none;
    padding-left: 0px; }
    #main .article .content .details li label {
      color: #a3bf2a;
      text-transform: uppercase;
      margin-right: 20px;
      line-height: 30px;
      display: block; }
    #main .article .content .details li span.br {
      line-height: 21px; }
  #main .article:before {
    content: '';
    display: block;
    width: 32%;
    margin: 1px 0 20px;
    border-bottom: 1px solid #d7e28f; }
  #main .article .greenfooter {
    background-color: #a3bf2a;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center; }
    #main .article .greenfooter img {
      width: 100%; }
    #main .article .greenfooter p {
      padding: 7px 0; }
  #main .article .fotogalerijen .displat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
    #main .article .fotogalerijen .displat .fotobck {
      width: calc((100% - 60px) / 4); }
      #main .article .fotogalerijen .displat .fotobck .fotoverflow {
        overflow: hidden;
        position: relative; }
        #main .article .fotogalerijen .displat .fotobck .fotoverflow .foto-hover {
          background-color: #78c73d;
          z-index: 100;
          height: 150px;
          width: 100%;
          position: absolute;
          opacity: 0;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
        #main .article .fotogalerijen .displat .fotobck .fotoverflow .foto-image {
          height: 150px;
          background-size: cover !important;
          background-repeat: no-repeat;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
      #main .article .fotogalerijen .displat .fotobck:hover .foto-image {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      #main .article .fotogalerijen .displat .fotobck:hover .foto-hover {
        opacity: 0.4; }
      #main .article .fotogalerijen .displat .fotobck + .fotobck {
        margin-left: 20px; }
  #main .article .btnarticle {
    float: right;
    margin: 10px 0; }
  #main .article .date {
    width: 94%;
    margin: 0px 3%;
    float: left;
    background-color: #f4f4f4;
    color: #848484;
    text-decoration: none;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    #main .article .date:hover {
      background-color: #ffffff;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    #main .article .date .datecontainer {
      margin: 10px; }
      #main .article .date .datecontainer.datearrowin:after {
        content: '';
        display: inline-block;
        width: 0px;
        height: 0px;
        border-style: solid;
        margin-left: 0.75em;
        border-width: 0.3em 0 0.3em 0.5em;
        border-color: transparent transparent transparent #70b9d3;
        top: 20px;
        right: 20px;
        position: absolute;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    #main .article .date span {
      color: #a3bf2a; }
    #main .article .date:first-child {
      margin-top: 10px; }
    #main .article .date:last-child {
      margin-bottom: 10px; }

.article .content ul:not(.details) {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0; }
  .article .content ul:not(.details) li {
    padding-left: 40px;
    margin-bottom: 5px;
    text-indent: -21px;
    line-height: 21px; }
    .article .content ul:not(.details) li:before {
      content: "";
      display: inline-block;
      height: 6px;
      width: 6px;
      background-color: #70b9d3;
      margin-right: 15px; }

@media only screen and (max-width: 580px) {
  #main .rowreverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  #main .row .aside .content {
    padding: 20px 20px 5px; } }
/* ==========================================================================
   Note message
   ========================================================================== */
#note {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #d7e28f;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  box-shadow: 0 0 5px black; }
  #note p {
    margin: 11px 0 !important; }

#note {
  -webkit-transform: translateY(-50px);
  -webkit-animation: slideDown 30s 1.0s 1 ease forwards;
  -moz-transform: translateY(-50px);
  -moz-animation: slideDown 30s 1.0s 1 ease forwards; }

@-webkit-keyframes slideDown {
  0%, 100% {
    -webkit-transform: translateY(-50px); }
  10%, 90% {
    -webkit-transform: translateY(0px); } }
#close-message {
  position: fixed;
  top: 13px;
  right: 8px;
  display: inline-block; }

.close {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  overflow: hidden;
  padding: 8px; }

.close:hover:before, .close:hover:after {
  background: #FFF; }

.close:before, .close:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #848484; }

.close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.close.thick::before, .close.thick::after {
  height: 2px;
  margin-top: -2px; }

/*****************************
MOBILE MENU
*****************************/
.shiftnav-toggle-button {
  padding: 10px 15px !important;
  background: #ececec !important;
  color: #616161 !important;
  position: absolute;
  right: 0;
  display: none !important; }
  .shiftnav-toggle-button i.fa-bars {
    font-size: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .shiftnav-toggle-button:hover i.fa-bars {
    color: #848484;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

ul.shiftnav-menu i.fa {
  color: #848484; }
ul.shiftnav-menu li > a {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  cursor: pointer; }
ul.shiftnav-menu .shiftnav-depth-0 > a {
  text-transform: uppercase;
  background-color: #ececec;
  color: #000000; }
ul.shiftnav-menu .shiftnav-depth-0:hover > a {
  background-color: #cecece; }
ul.shiftnav-menu .current-menu-item > a {
  background-color: #cecece; }
ul.shiftnav-menu .shiftnav-depth-1 > a {
  color: #ffffff;
  background-color: #70b9d3; }
ul.shiftnav-menu .shiftnav-depth-2 > a {
  color: #ffffff;
  background-color: #4595b1; }
ul.shiftnav-menu .shiftnav-depth-1:hover > a {
  background-color: #4595b1; }
ul.shiftnav-menu .shiftnav-depth-2:hover > a {
  color: #000000;
  background-color: #ffffff; }
ul.shiftnav-menu .navin a:first-child {
  cursor: initial !important; }
ul.shiftnav-menu .navin:hover:after {
  border-top: solid transparent !important;
  border: transparent !important; }

@media only screen and (max-width: 976px) {
  .shiftnav-toggle-button {
    display: inline-block !important; } }
/*****************************
404 page
*****************************/
#fof {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column; }
  #fof h1 {
    font-size: 55px; }
  #fof img {
    max-width: 100%; }
    #fof img.evisad {
      margin-top: 20px; }
  #fof .button {
    margin: 20px 0;
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: #70b9d3;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    #fof .button:hover {
      background-color: #4595b1;
      border: 2px solid #ffffff;
      color: #ffffff; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  font-size: 10px; }
  footer p {
    margin: 45px 0;
    text-align: center;
    line-height: normal; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 976px) {
  .container {
    margin: auto 0px auto 10px; }

  .containerfortheheader {
    margin: auto 0px; }

  .tohide {
    display: none; }

  .hidden {
    display: block; }
    .hidden.kal {
      padding-right: 0px; }
    .hidden .bluepastelbackground.iconwrapper {
      margin-left: 10px; }

  body {
    margin: 0; }

  /*****************************
  MEDIA QUERIES - HEADER - MEDIUM
  *****************************/
  header {
    margin-top: 0;
    left: 0;
    right: 0; }
    header img {
      height: 70px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    header nav .menu {
      display: none; }

  /*****************************
  MEDIA QUERIES - SECTIONS - MEDIUM
  *****************************/
  .col-1-1 {
    margin: auto !important; }

  #wallpaper img {
    width: 100%; }

  #welcomeclicksearch .toinvert {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    #welcomeclicksearch .toinvert .left, #welcomeclicksearch .toinvert .right {
      width: 100%;
      margin-bottom: 0px; }
    #welcomeclicksearch .toinvert .right .evi {
      background-size: 200px; }
    #welcomeclicksearch .toinvert .left {
      margin-top: 10px; }
      #welcomeclicksearch .toinvert .left .col-1-1 {
        width: 33.33%; }
      #welcomeclicksearch .toinvert .left .nopadding {
        padding-right: 0px;
        padding-left: 10px; }

  #tools .row {
    margin-top: 0px; }
  #tools .widget {
    min-height: 215px;
    margin-top: 10px; }
  #tools .col-1-3 p.groete {
    font-size: 24px; }
  #tools .col-1-3.magix {
    padding-right: 10px; }
  #tools .medium-col-1-6 {
    width: 50%; }

  #photosocial .fullwidth {
    width: 100%; }

  .article {
    margin-top: 10px;
    padding-left: 0px !important; }

  #main .lastelement {
    padding-right: 10px; }
  #main .aside .content .subsection:before {
    display: inline-block;
    width: 0px !important;
    height: 0px !important;
    border-style: solid;
    border-width: 0.3em 0 0.3em 0.5em;
    border-color: transparent transparent transparent #70b9d3;
    background: none !important;
    -webkit-transition: 0.3s;
    transition: 0.3s; } }
@media only screen and (max-width: 580px) {
  /*****************************
  MEDIA QUERIES - SECTIONS - SMALL
  *****************************/
  header img {
    height: 50px; }

  #photosocial .photosocialbgcontainer .photosocialbgbtn {
    right: initial !important;
    left: calc(50% - 85px);
    width: 170px;
    text-align: center; }

  #welcomeclicksearch .left .searchboxout {
    width: 100% !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px !important; }
    #welcomeclicksearch .left .searchboxout .searchbox {
      height: auto; }
      #welcomeclicksearch .left .searchboxout .searchbox .inputgroup {
        margin: 24px 20px; }
  #welcomeclicksearch .right {
    margin: 0 0 !important; }
    #welcomeclicksearch .right .evi {
      background-size: 210px;
      padding-bottom: 135px;
      background-position: center bottom;
      background-image: url("./img/EVI2.png"); }
      #welcomeclicksearch .right .evi .padding {
        padding: 0;
        margin: 10px; }
        #welcomeclicksearch .right .evi .padding p {
          width: 100%; }

  #tools .mobile-col-1-1 {
    width: 100% !important; }
  #tools .widget {
    min-height: 150px; }
    #tools .widget .groete {
      width: 75%; }

  .hidden {
    width: 49%; }
    .hidden:last-child {
      width: 51%; }
    .hidden .bluepastelbackground.iconwrapper {
      margin-left: 0px !important; }

  .article .content .infobox {
    width: 100% !important; }

  .fotogalerijen .fotobck {
    width: calc((100% - 20px) / 2) !important;
    margin-bottom: 10px; }
    .fotogalerijen .fotobck:nth-child(2n+1) {
      margin-left: 0px !important; }

  /*****************************
  MEDIA QUERIES - SECTIONS - FOOTER
  *****************************/
  #footer .col-1-1 {
    margin: 0 0 !important; } }
/*****************************
INSCHRIJVEN AND CONTACT PAGE
*****************************/
div[id^=werknemers] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  div[id^=werknemers] .werknemer {
    width: 25%; }

/*****************************
TEAM PAGE STYLES
*****************************/
#teampage #team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px; }
  #teampage #team-wrapper .teamlid {
    width: calc(100% / 4);
    text-align: center;
    margin-bottom: 30px; }
    #teampage #team-wrapper .teamlid .team-pic-wrapper {
      height: 120px;
      width: 120px;
      background-size: cover;
      border-radius: 60px;
      margin: 0 auto 10px; }
    #teampage #team-wrapper .teamlid .team-function {
      font-style: italic; }

@media only screen and (max-width: 580px) {
  .teamlid {
    width: calc(100% / 2) !important; } }
/*****************************
PERSONS OF INTEREST STYLES
*****************************/
#persons-wrapper {
  margin-top: 30px; }
  #persons-wrapper .person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 30px; }
    #persons-wrapper .person .person-pic-wrapper {
      width: 20%; }
      #persons-wrapper .person .person-pic-wrapper img {
        height: 80px;
        width: 80px;
        border-radius: 40px; }
    #persons-wrapper .person .person-info {
      width: 80%;
      line-height: 21px; }
      #persons-wrapper .person .person-info .person-function {
        font-weight: bold; }
      #persons-wrapper .person .person-info .person-name {
        font-weight: bold;
        font-size: 1.2em;
        color: #70b9d3; }
      #persons-wrapper .person .person-info .person-infotxt {
        margin-top: 10px; }

@media only screen and (max-width: 580px) {
  .person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 20px !important; }
    .person .person-pic-wrapper, .person .person-info {
      width: 100% !important;
      margin-bottom: 10px; } }
/*****************************
KALENDER STYLES
*****************************/
h2.year {
  padding: 5px 0;
  border-bottom: 1px solid #ececec; }

.event-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .event-month .event-wrapper {
    border-bottom: 1px solid #a3bf2a;
    display: block;
    min-height: 100px;
    background-color: #fbfbfb;
    margin-left: 20px;
    margin-bottom: 20px;
    width: calc( (100% - 60px) / 4 ); }
    .event-month .event-wrapper .event-header {
      height: 30px;
      width: 100%;
      background-color: #d7e28f;
      text-align: center;
      line-height: 30px; }
    .event-month .event-wrapper .event-inner {
      margin: 20px 10px 20px 10px;
      font-size: 0.9em; }
    .event-month .event-wrapper:nth-child(4n+1) {
      margin-left: 0px; }

@media only screen and (max-width: 580px) {
  .event-month .event-wrapper {
    width: calc((100% - 20px) / 2) !important;
    margin-bottom: 20px; }
    .event-month .event-wrapper:nth-child(2n+1) {
      margin-left: 0px !important; } }
/*****************************
BELEVENAAR STYLES
*****************************/
.all_belevenaar_wrapper {
  margin-top: 30px; }

.belevenaar_wrapper {
  width: 100%;
  border-bottom: 1px solid #ececec;
  display: block;
  padding: 10px 0 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .belevenaar_wrapper:hover {
    background-color: #ececec; }
  .belevenaar_wrapper .belevenaar_icon {
    width: 100px; }
    .belevenaar_wrapper .belevenaar_icon img {
      max-width: 40px;
      height: auto;
      margin-left: 10px;
      margin-right: 50px; }

/*****************************
SEARCH STYLES
*****************************/
.search-page-search .searchbox {
  background-color: #ececec;
  float: left;
  height: 130px; }
  .search-page-search .searchbox .inputgroup {
    margin: 30px;
    position: relative; }
    .search-page-search .searchbox .inputgroup label {
      text-transform: uppercase; }
    .search-page-search .searchbox .inputgroup input {
      background-color: #ffffff;
      border: none;
      -webkit-appearance: none;
      padding: 4%;
      position: relative;
      width: 91%;
      margin-top: 10px;
      text-transform: initial;
      -webkit-transition: .3s all ease-out;
      transition: .3s all ease-out; }
      .search-page-search .searchbox .inputgroup input.search-field {
        width: 80%; }
      .search-page-search .searchbox .inputgroup input.search-submit {
        background: url("./img/evenaar_search.svg") no-repeat center;
        background-size: 22px;
        position: absolute;
        background-color: #d4eaf2;
        width: 18%;
        cursor: pointer; }

h3 a, h3 a:visited {
  color: #70b9d3; }

.posts-navigation {
  margin-top: 60px;
  text-align: center;
  border-top: 1px solid #ececec;
  padding-top: 20px; }
  .posts-navigation h2 {
    font-size: 14px;
    text-transform: uppercase; }

/*****************************
FOTOGALERIJEN STYLES
*****************************/
.fotogalerijencontainer, .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .fotogalerijencontainer .foto-wrapper, .gallery .foto-wrapper {
    width: calc( (100% - 60px) / 4 );
    margin-left: 20px;
    margin-bottom: 20px;
    min-height: 187px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
            flex-direction: column; }
    .fotogalerijencontainer .foto-wrapper .foto-title, .gallery .foto-wrapper .foto-title {
      color: #a3bf2a;
      margin: 0px 0 5px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .fotogalerijencontainer .foto-wrapper .foto-date, .gallery .foto-wrapper .foto-date {
      color: #848484;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .fotogalerijencontainer .foto-wrapper .fotoverflow, .gallery .foto-wrapper .fotoverflow {
      overflow: hidden;
      margin-top: auto;
      position: relative; }
      .fotogalerijencontainer .foto-wrapper .fotoverflow .foto-hover, .gallery .foto-wrapper .fotoverflow .foto-hover {
        background-color: #78c73d;
        z-index: 100;
        height: 150px;
        width: 100%;
        position: absolute;
        opacity: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .fotogalerijencontainer .foto-wrapper .fotoverflow .foto-image, .gallery .foto-wrapper .fotoverflow .foto-image {
        height: 150px;
        background-size: cover !important;
        background-repeat: no-repeat;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
    .fotogalerijencontainer .foto-wrapper:hover .foto-title, .gallery .foto-wrapper:hover .foto-title {
      color: #7f9521; }
    .fotogalerijencontainer .foto-wrapper:hover .foto-date, .gallery .foto-wrapper:hover .foto-date {
      color: #6b6b6b; }
    .fotogalerijencontainer .foto-wrapper:hover .foto-hover, .gallery .foto-wrapper:hover .foto-hover {
      opacity: 0.4; }
    .fotogalerijencontainer .foto-wrapper:hover .foto-image, .gallery .foto-wrapper:hover .foto-image {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .fotogalerijencontainer .foto-wrapper:nth-child(4n+1), .gallery .foto-wrapper:nth-child(4n+1) {
      margin-left: 0px; }

.gallery-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .gallery-item-container .gallery-item {
    width: calc( (100% - 60px) / 4 );
    margin-left: 20px;
    margin-bottom: 20px; }
    .gallery-item-container .gallery-item .gallery-item-fotobck {
      width: 100%;
      height: 150px;
      background-size: cover !important; }
    .gallery-item-container .gallery-item:nth-child(4n+1) {
      margin-left: 0px; }

@media only screen and (max-width: 580px) {
  .fotogalerijencontainer .foto-wrapper, .gallery .foto-wrapper {
    width: calc((100% - 20px) / 2) !important;
    margin-bottom: 20px; }
    .fotogalerijencontainer .foto-wrapper:nth-child(2n+1), .gallery .foto-wrapper:nth-child(2n+1) {
      margin-left: 0px !important; }

  .gallery-item-container .gallery-item {
    width: calc( (100% - 20px) / 2 ); }
    .gallery-item-container .gallery-item:nth-child(2n+1) {
      margin-left: 0px; } }
/*****************************
INSCHRIJVEN AND CONTACT PAGE
*****************************/
div.inschrijven .gm-style, div.contact .gm-style {
  pointer-events: none; }
div.inschrijven .caldera-grid, div.contact .caldera-grid {
  margin-top: 20px; }
  div.inschrijven .caldera-grid .form-group, div.contact .caldera-grid .form-group {
    margin-bottom: 10px; }
div.inschrijven form, div.contact form {
  padding: 10px 15px 10px 20px;
  background-color: #f4f4f4; }
  div.inschrijven form .row, div.contact form .row {
    margin-bottom: 0px !important;
    margin-top: 0px !important; }
  div.inschrijven form .form-control, div.contact form .form-control {
    border-radius: 0px !important;
    border: 1px solid #f4f4f4 !important; }
  div.inschrijven form textarea, div.contact form textarea {
    resize: none; }
  div.inschrijven form select, div.contact form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  div.inschrijven form .select, div.contact form .select {
    position: relative; }
  div.inschrijven form .select:after, div.contact form .select:after {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.6em 0.4em 0 0.4em;
    border-color: #ececec transparent transparent transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    right: 15px;
    bottom: 12px; }
  div.inschrijven form input[type=submit], div.contact form input[type=submit] {
    border: 2px solid #ffffff;
    cursor: pointer;
    background-color: #70b9d3;
    color: #ffffff;
    font-size: 14px;
    padding: 13px 4%;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-family: "Raleway", sans-serif; }
    div.inschrijven form input[type=submit]:hover, div.contact form input[type=submit]:hover {
      background-color: #4595b1;
      border: 2px solid #ffffff;
      color: #ffffff; }
  div.inschrijven form input[type=checkbox], div.contact form input[type=checkbox] {
    width: auto !important;
    margin-right: 10px; }
  div.inschrijven form .radiowrap, div.contact form .radiowrap {
    width: 70%; }
    div.inschrijven form .radiowrap .wpcf7-radio, div.contact form .radiowrap .wpcf7-radio {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      div.inschrijven form .radiowrap .wpcf7-radio .wpcf7-list-item, div.contact form .radiowrap .wpcf7-radio .wpcf7-list-item {
        width: 50%; }

/* ==========================================================================
   Media print
   ========================================================================== */
